{% extends 'base.html' %}
{% load static %}

{% block title %}データ詳細{% endblock %}

{% block active_pulse_rate_list %}active{% endblock %}

{% block head %}
<link href="{% static 'css/clean-blog.min.css' %}" rel="stylesheet">
{% endblock %}

{% block contents %}
<div class="container">
    <div class="my-div-style w-100">
        <div class="row">
            <div class="col-3">
                <strong>データタイトル</strong>
            </div>
            <div class="col-9">
                {{ object.title }}
            </div>
        </div>
        <hr>
        
        <div class="row">
            <div class="col-3">
                <strong>ファイル名</strong>
            </div>
            <div class="col-9">
                <a href="{{ object.data.url }}">{{ object.data.url }}</a>
            </div>
        </div>
        <hr>

        <div class="row">
            <div class="col-3">
                <strong>データ</strong>
            </div>
            <div class="col-9">
                <img src="{% url 'pulse_rate:plot' object.pk %}" width=600, height=300>
            </div>
        </div>
        <hr>
        
        <div class="row">
            <div class="col-3">
                <strong>登録日時</strong>
            </div>
            <div class="col-9">
                {{ object.created_at }}
            </div>
        </div>
        <hr>
        
        <div class="row">
            <div class="col-3">
                <strong>更新日時</strong>
            </div>
            <div class="col-9">
                {{ object.updated_at }}
            </div>
        </div>

        <a class="btn btn-secondary mt-5 mb-3" href="{% url 'pulse_rate:pulse_rate_list' %}">一覧</a>
        <a class="btn btn-info mt-5 ml-2 mb-3" href="{% url 'pulse_rate:pulse_rate_analysis' object.pk %}">解析</a>
        <a class="btn btn-success mt-5 ml-2 mb-3" href="{% url 'pulse_rate:pulse_rate_update' object.pk %}">編集</a>
        <a class="btn btn-danger mt-5 ml-2 mb-3" href="{% url 'pulse_rate:pulse_rate_delete' object.pk %}">削除</a>
        <a class="btn btn-primary mt-5 ml-2 mb-3" href="javascript:history.back()">< Back</a>

    </div>
</div>
{% endblock %}